extends layout

block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script.
      localStorage.removeItem("mycolor");
      var user = JSON.parse(localStorage.getItem('User'));
      console.log('User:'+user);
      if(user==null ) {window.alert("No se puede acceder directamente");window.location.href = "http://localhost:3000/";}
      if(user.room1==false && user.room2==false & user.room3==false) {window.alert("No se puede acceder sin sala");window.location.href = "http://localhost:3000/game-app";}
      let room="";
      if(user.room1==true){room="room1"};
      if(user.room2==true){room="room2"};
      if(user.room3==true){room="room3"};

      const webSocket = new WebSocket('ws://localhost:443/ws/?room='+room+'&username='+user.username);
      let el;
      function fade(element) {
      var op = 1;  // initial opacity
      var timer = setInterval(function () {
      if (op <= 0.1){
      clearInterval(timer);
      element.style.display = 'none';
      }
      element.style.opacity = op;
      element.style.filter = 'alpha(opacity=' + op * 100 + ")";
      op -= op * 0.1;
      }, 100);
      }
      function unfade(element) {
      var op = 0.1;  // initial opacity
      element.style.display = 'block';
      var timer = setInterval(function () {
      if (op >= 1){
      clearInterval(timer);
      }
      element.style.opacity = op;
      element.style.filter = 'alpha(opacity=' + op * 100 + ")";
      op += op * 0.1;
      }, 100);
      }
      webSocket.onmessage = (event) => {
      const data = JSON.parse(event.data);
      if (data.type == 'message') {
      el = document.getElementById('time');
      el.innerHTML = data.message;
      console.log(data);
      if (typeof data.yourcolor !== 'undefined') {
        console.log(localStorage.getItem("mycolor"));
        if (localStorage.getItem("mycolor")==null){
          console.log(localStorage.getItem("mycolor"));
          localStorage.setItem("mycolor", data.yourcolor);
          console.log(localStorage.getItem("mycolor"));
        }
      }
      }
      if (data.type == 'movement') {
        $("#"+data.position).css('background-color','hsl(+'+data.color+',50%,50%)');
        $("#"+data.position).addClass(''+data.color+'');
        $("#"+data.position).css("cursor", "not-allowed");
        $("#"+data.position).css("pointer-events", "none");
        console.log(data.color);
        console.log(localStorage.getItem("mycolor"));
        if (data.color==localStorage.getItem("mycolor")){
        if ($('.'+data.color).length>12)
          {
            
            $(".canvas").css("cursor", "not-allowed");
            $(".canvas").css("pointer-events", "none");
            window.alert("You Won");
          }
        document.getElementById("mycounter").innerHTML='My score: '+$('.'+data.color).length;
        }
        else {
        if ($('.'+data.color).length>12)
          {
            $(".canvas").css("cursor", "not-allowed");
            $(".canvas").css("pointer-events", "none");
            window.alert("Your Opponent Won");
          }
        document.getElementById("oponentcounter").innerHTML='Oponent score: '+$('.'+data.color).length;
        }
     
        
      }
      };
      $(function() {
      $(".canvas").on("click", makeMove);
      });
      function makeMove(e) {
        
       const messageBody = { type: 'movement', position: $(this).attr('id'),"room":room };
        webSocket.send(JSON.stringify(messageBody));

        console.log("entro");
      };
    #wrapper-main 
      h1#head
      p#time
      p#mycounter My score 0
      p#oponentcounter Oponent score 0
      #wrapper-game
        #board-game
          canvas#id-1.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-2.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-3.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-4.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-5.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-6.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-7.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-8.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-9.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-10.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-11.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-12.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-13.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-14.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-15.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-16.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-17.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-18.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-19.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-20.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-21.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-22.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-23.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-24.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-25.canvas(width='100' height='100' style='border:1px solid #000000;')
    script.
      document.getElementById("head").innerHTML="Welcome user: "+user.username+" to "+room;

block scripts


