extends layout

block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script.
      const webSocket = new WebSocket('ws://localhost:443/ws');
      let el;
      function fade(element) {
      var op = 1;  // initial opacity
      var timer = setInterval(function () {
      if (op <= 0.1){
      clearInterval(timer);
      element.style.display = 'none';
      }
      element.style.opacity = op;
      element.style.filter = 'alpha(opacity=' + op * 100 + ")";
      op -= op * 0.1;
      }, 100);
      }
      function unfade(element) {
      var op = 0.1;  // initial opacity
      element.style.display = 'block';
      var timer = setInterval(function () {
      if (op >= 1){
      clearInterval(timer);
      }
      element.style.opacity = op;
      element.style.filter = 'alpha(opacity=' + op * 100 + ")";
      op += op * 0.1;
      }, 100);
      }
      webSocket.onmessage = (event) => {
      const data = JSON.parse(event.data);
      if (data.type == 'message') {
      el = document.getElementById('time');
      el.innerHTML = data.message;
      }
      if (data.type == 'movement') {
      window.alert(data.x);
      }
      };
      $(function() {
      $("#canvas").on("click", makeMove);
      });
      function makeMove(e) {


      console.log("entro");
      };
    div
      canvas#canvas(width='400' height='400' style='border:1px solid #000000;')
    p#time
    template#cursor
    svg.cursor(viewBox='0 0 16.3 24.7')
    path(stroke='#000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='M15.6 15.6L.6.6v20.5l4.6-4.5 3.2 7.5 3.4-1.3-3-7.2z')


block scripts
  script(src="/javascripts/game.js")  
  
