extends layout

block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script.
      const webSocket = new WebSocket('ws://localhost:443/ws');
      let el;
      function fade(element) {
      var op = 1;  // initial opacity
      var timer = setInterval(function () {
      if (op <= 0.1){
      clearInterval(timer);
      element.style.display = 'none';
      }
      element.style.opacity = op;
      element.style.filter = 'alpha(opacity=' + op * 100 + ")";
      op -= op * 0.1;
      }, 100);
      }
      function unfade(element) {
      var op = 0.1;  // initial opacity
      element.style.display = 'block';
      var timer = setInterval(function () {
      if (op >= 1){
      clearInterval(timer);
      }
      element.style.opacity = op;
      element.style.filter = 'alpha(opacity=' + op * 100 + ")";
      op += op * 0.1;
      }, 100);
      }
      webSocket.onmessage = (event) => {
      const data = JSON.parse(event.data);
      if (data.type == 'message') {
      el = document.getElementById('time');
      el.innerHTML = data.message;
      }
      if (data.type == 'movement') {
        $('#'+data.position).css('background-color: black');
        document.getElementById(data.position).style.backgroundColor = 'red'
      }
      };
      $(function() {
      $(".canvas").on("click", makeMove);
      });
      function makeMove(e) {
        
       const messageBody = { type: 'movement', position: $(this).attr('id') };
        webSocket.send(JSON.stringify(messageBody));

        console.log("entro");
      };
    #wrapper-main 
      #wrapper-game
        #board-game
          canvas#id-1.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-2.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-3.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-4.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-5.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-6.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-7.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-8.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-9.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-10.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-11.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-12.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-13.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-14.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-15.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-16.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-17.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-18.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-19.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-20.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-21.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-22.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-23.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-24.canvas(width='100' height='100' style='border:1px solid #000000;')
          canvas#id-25.canvas(width='100' height='100' style='border:1px solid #000000;')
      p#time
      

block scripts
  script(src="/javascripts/game.js")  
  
